In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/sensors_example.xlsx')
df

C:\Users\ricar\anaconda3\envs\pytorch\Lib\site-packages\openpyxl\worksheet\_reader.py:211: UserWarning: Cell O210 is marked as a date but the serial value 54449048 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

,building,building_new,address,address_new,node_id,factor,factor_new,unit_getec,unit_getec_2,idn,name_cust,gfstandard,acronym_n,hydraulic_location_index,current_value
0,359,359,Defreggerstraße 8B,Defreggerstraße 8B,Device.IsConnected,1,1.0,NaN,0,5105,Device_IsConnected_ival,0,0,0.0,0
1,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rEnergy,1000,1000.0,MWh,MWh,5144,WMZ HK_ival,e_hc1_hm,e_hc(n)_hm,1.0,933.1
2,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rEnergy,1000,1000.0,MWh,MWh,5142,WMZ WWB_ival,e_hw1_hm,e_hw(n)_hm,1.0,484.77
3,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rPower,1,1.0,NaN,0,5145,WMZ HK Leistung_ival,p_hc1_hm,p_hc(n)_hm,1.0,36.74
4,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rPower,1,1.0,NaN,0,5139,WMZ WWB Leistung_ival,p_hw1_hm,p_hw(n)_hm,1.0,15795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Temperatur43_Temperatur,1,1.0,°C,°C,5436,Temperatur43_Tempera00_ival,t_gprim_return,t_g_primreturn,NaN,40312
478,399,399,"Großbeerenstraße 2-10, Haus 1","Großbeerenstraße 2-10, Haus 1",ZW_ZZ1_rVolume,1,1.0,m³,m³,5963,Gaszähler Gesamt Zählerstand_ival,v_g_gm,v_g_gm,NaN,3600-03-31 00:00:00
479,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Primary1_Durchfluss,1,1.0,m3/h,m³/h,5440,WMZ Gesamt - Durchfluss_ival,vdot_g_hm,vdot_g_hm,NaN,16923
480,435,435,Gebäude #435,Bülowstraße 7,aussentemp,1,1.0,NaN,0,7898,NaN,t_g_out,t_g_out,NaN,NaN
481,436,436,Gebäude #436,Nollendorfstraße 2,aussentemp,1,1.0,NaN,0,7908,NaN,t_g_out,t_g_out,NaN,NaN

In [3]:
# handle acronyms
df = df.dropna(subset=["acronym_n"])
df = df[df['acronym_n'] != 0]
# remove the str '(n)' from the acronym column
df['acronym_n'] = df['acronym_n'].str.replace(r"(n)","")

# split the acronym column into a list of acronyms
df['acronym_split'] = df['acronym_n'].str.split('_')
df

,building,building_new,address,address_new,node_id,factor,factor_new,unit_getec,unit_getec_2,idn,name_cust,gfstandard,acronym_n,hydraulic_location_index,current_value,acronym_split
1,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rEnergy,1000,1000.0,MWh,MWh,5144,WMZ HK_ival,e_hc1_hm,e_hc_hm,1.0,933.1,"[e, hc, hm]"
2,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rEnergy,1000,1000.0,MWh,MWh,5142,WMZ WWB_ival,e_hw1_hm,e_hw_hm,1.0,484.77,"[e, hw, hm]"
3,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rPower,1,1.0,NaN,0,5145,WMZ HK Leistung_ival,p_hc1_hm,p_hc_hm,1.0,36.74,"[p, hc, hm]"
4,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rPower,1,1.0,NaN,0,5139,WMZ WWB Leistung_ival,p_hw1_hm,p_hw_hm,1.0,15795,"[p, hw, hm]"
5,359,359,Defreggerstraße 8B,Defreggerstraße 8B,CV_HVS1_rVentStellw,1,1.0,NaN,0,5129,HK1 Mischerstellwert_ival,r_hc1_valve,r_hc_valve,1.0,3478-04-27 00:00:00,"[r, hc, valve]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Temperatur43_Temperatur,1,1.0,°C,°C,5436,Temperatur43_Tempera00_ival,t_gprim_return,t_g_primreturn,NaN,40312,"[t, g, primreturn]"
478,399,399,"Großbeerenstraße 2-10, Haus 1","Großbeerenstraße 2-10, Haus 1",ZW_ZZ1_rVolume,1,1.0,m³,m³,5963,Gaszähler Gesamt Zählerstand_ival,v_g_gm,v_g_gm,NaN,3600-03-31 00:00:00,"[v, g, gm]"
479,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Primary1_Durchfluss,1,1.0,m3/h,m³/h,5440,WMZ Gesamt - Durchfluss_ival,vdot_g_hm,vdot_g_hm,NaN,16923,"[vdot, g, hm]"
480,435,435,Gebäude #435,Bülowstraße 7,aussentemp,1,1.0,NaN,0,7898,NaN,t_g_out,t_g_out,NaN,NaN,"[t, g, out]"
481,436,436,Gebäude #436,Nollendorfstraße 2,aussentemp,1,1.0,NaN,0,7908,NaN,t_g_out,t_g_out,NaN,NaN,"[t, g, out]"

In [4]:
# acronyms cleaning functions
def convert_list_to_categorical(acronym_list: list[str]) -> tuple[str, str, str]:
    """
    Converts a list of acronyms into a tuple of strings,
    the first 2 strings in the list get mapped to the first 2 values in the tuple and the remaining strings in the list are joined with a spaced and mapped to the 3rd value in the tuple.
    :param acronym_list: list of acronyms
    :return: tuple of strings
    """
    if len(acronym_list) == 1:
        return acronym_list[0], "", ""
    elif len(acronym_list) == 2:
        return acronym_list[0], acronym_list[1], ""
    else:
        return acronym_list[0], acronym_list[1], ' '.join(acronym_list[2:])

In [5]:
measurement, location, description = zip(*df['acronym_split'].apply(convert_list_to_categorical))
df['measurement'] = measurement
df['location'] = location
df['description'] = description
df

,building,building_new,address,address_new,node_id,factor,factor_new,unit_getec,unit_getec_2,idn,name_cust,gfstandard,acronym_n,hydraulic_location_index,current_value,acronym_split,measurement,location,description
1,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rEnergy,1000,1000.0,MWh,MWh,5144,WMZ HK_ival,e_hc1_hm,e_hc_hm,1.0,933.1,"[e, hc, hm]",e,hc,hm
2,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rEnergy,1000,1000.0,MWh,MWh,5142,WMZ WWB_ival,e_hw1_hm,e_hw_hm,1.0,484.77,"[e, hw, hm]",e,hw,hm
3,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rPower,1,1.0,NaN,0,5145,WMZ HK Leistung_ival,p_hc1_hm,p_hc_hm,1.0,36.74,"[p, hc, hm]",p,hc,hm
4,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rPower,1,1.0,NaN,0,5139,WMZ WWB Leistung_ival,p_hw1_hm,p_hw_hm,1.0,15795,"[p, hw, hm]",p,hw,hm
5,359,359,Defreggerstraße 8B,Defreggerstraße 8B,CV_HVS1_rVentStellw,1,1.0,NaN,0,5129,HK1 Mischerstellwert_ival,r_hc1_valve,r_hc_valve,1.0,3478-04-27 00:00:00,"[r, hc, valve]",r,hc,valve
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Temperatur43_Temperatur,1,1.0,°C,°C,5436,Temperatur43_Tempera00_ival,t_gprim_return,t_g_primreturn,NaN,40312,"[t, g, primreturn]",t,g,primreturn
478,399,399,"Großbeerenstraße 2-10, Haus 1","Großbeerenstraße 2-10, Haus 1",ZW_ZZ1_rVolume,1,1.0,m³,m³,5963,Gaszähler Gesamt Zählerstand_ival,v_g_gm,v_g_gm,NaN,3600-03-31 00:00:00,"[v, g, gm]",v,g,gm
479,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Primary1_Durchfluss,1,1.0,m3/h,m³/h,5440,WMZ Gesamt - Durchfluss_ival,vdot_g_hm,vdot_g_hm,NaN,16923,"[vdot, g, hm]",vdot,g,hm
480,435,435,Gebäude #435,Bülowstraße 7,aussentemp,1,1.0,NaN,0,7898,NaN,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out
481,436,436,Gebäude #436,Nollendorfstraße 2,aussentemp,1,1.0,NaN,0,7908,NaN,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out

In [6]:
df['measurement'].value_counts()

measurement
t       262
e        46
vdot     44
p        39
r        30
s        10
v         9
b         3
pel       1
h         1
c         1
eel       1
Name: count, dtype: int64

In [7]:
df['location'].value_counts()

location
hc        198
hw        137
g          61
b          34
chp        13
buffer      4
Name: count, dtype: int64

In [8]:
df['description'].value_counts()

description
hm                  126
flow set             48
hmflow               44
flow                 42
hmreturn             38
valve                30
tank                 18
pwh                  17
out                  17
boiler               12
circ                 11
cascflow             11
return               10
gm                    9
primflow              3
chp                   2
secflow               2
cascreturn            2
operation full        1
starts                1
em discharge act      1
secreturn             1
primreturn            1
Name: count, dtype: int64

In [9]:
df["acronym_n"].value_counts()

acronym_n
t_hc_flow                   32
t_hc_flow_set               31
r_hc_valve                  30
e_hc_hm                     22
vdot_hc_hm                  21
t_hc_hmflow                 21
t_hc_hmreturn               20
p_hc_hm                     19
e_hw_hm                     19
t_hw_hmflow                 18
vdot_hw_hm                  18
t_g_out                     17
t_hw_pwh                    17
t_hw_hmreturn               15
p_hw_hm                     14
t_hw_tank                   14
t_g_cascflow                11
t_hw_circ                   11
t_b_flow_set                10
s_b_boiler                  10
t_b_flow                     9
v_g_gm                       8
t_hw_flow_set                7
t_g_hmflow                   4
vdot_g_hm                    4
e_g_hm                       4
t_hw_return                  4
t_buffer_tank                4
t_b_return                   3
t_g_cascreturn               2
p_b_boiler                   2
b_g_primflow                 2
t_g_hmreturn                 2
t_hc_return                  2
p_g_hm                       2
c_chp_starts                 1
t_g_primflow                 1
t_g_secflow                  1
t_g_secreturn                1
b_g_secflow                  1
eel_chp_em_discharge_act     1
v_chp_gm                     1
e_chp_hm                     1
h_chp_operation_full         1
vdot_chp_hm                  1
t_chp_flow                   1
t_chp_return                 1
pel_chp_chp                  1
p_chp_chp                    1
t_chp_hmreturn               1
p_chp_hm                     1
t_chp_hmflow                 1
t_g_primreturn               1
Name: count, dtype: int64

In [10]:
NODE_ID_MAPPINGS = {
    "_r": " ",
    "_x": " ",
    "_": " ",
}

def preprocess_node_id(node: str,  mappings: dict) -> str:
    """
    :param node: node string to preprocess
    :param mappings: dictionary of values to replace
    :return: preprocessed node string
    """
    # convert to string
    output = str(node)
    
    # replace from mappings
    for key, value in mappings.items():
        output = output.replace(key, value)
    
    
    # if the next letter is capitalised, add a space
    for i in range(len(output)-1):
        if output[i].islower() and output[i+1].isupper():
            output = output[:i+1] + " " + output[i+1:]
    
    # if the word "Temp" appears, add a space before it
    if "Temp" in output:
        output = output.replace("Temp"," Temp")
        
    # output should be only letters and spaces
    output = ''.join([i for i in output if i.isalpha() or i == " "])
          
    # convert any double spaces to single spaces
    output = output.replace("  "," ")
    
    # lowercase the string
    output = output.lower()
    
    return output

In [11]:
df['node_text'] = df['node_id'].apply(preprocess_node_id, args=(NODE_ID_MAPPINGS,))
df

,building,building_new,address,address_new,node_id,factor,factor_new,unit_getec,unit_getec_2,idn,name_cust,gfstandard,acronym_n,hydraulic_location_index,current_value,acronym_split,measurement,location,description,node_text
1,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rEnergy,1000,1000.0,MWh,MWh,5144,WMZ HK_ival,e_hc1_hm,e_hc_hm,1.0,933.1,"[e, hc, hm]",e,hc,hm,zw zz energy
2,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rEnergy,1000,1000.0,MWh,MWh,5142,WMZ WWB_ival,e_hw1_hm,e_hw_hm,1.0,484.77,"[e, hw, hm]",e,hw,hm,zw zz energy
3,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rPower,1,1.0,NaN,0,5145,WMZ HK Leistung_ival,p_hc1_hm,p_hc_hm,1.0,36.74,"[p, hc, hm]",p,hc,hm,zw zz power
4,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rPower,1,1.0,NaN,0,5139,WMZ WWB Leistung_ival,p_hw1_hm,p_hw_hm,1.0,15795,"[p, hw, hm]",p,hw,hm,zw zz power
5,359,359,Defreggerstraße 8B,Defreggerstraße 8B,CV_HVS1_rVentStellw,1,1.0,NaN,0,5129,HK1 Mischerstellwert_ival,r_hc1_valve,r_hc_valve,1.0,3478-04-27 00:00:00,"[r, hc, valve]",r,hc,valve,cv hvs vent stellw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Temperatur43_Temperatur,1,1.0,°C,°C,5436,Temperatur43_Tempera00_ival,t_gprim_return,t_g_primreturn,NaN,40312,"[t, g, primreturn]",t,g,primreturn,temperatur temperatur
478,399,399,"Großbeerenstraße 2-10, Haus 1","Großbeerenstraße 2-10, Haus 1",ZW_ZZ1_rVolume,1,1.0,m³,m³,5963,Gaszähler Gesamt Zählerstand_ival,v_g_gm,v_g_gm,NaN,3600-03-31 00:00:00,"[v, g, gm]",v,g,gm,zw zz volume
479,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Primary1_Durchfluss,1,1.0,m3/h,m³/h,5440,WMZ Gesamt - Durchfluss_ival,vdot_g_hm,vdot_g_hm,NaN,16923,"[vdot, g, hm]",vdot,g,hm,primary durchfluss
480,435,435,Gebäude #435,Bülowstraße 7,aussentemp,1,1.0,NaN,0,7898,NaN,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out,aussentemp
481,436,436,Gebäude #436,Nollendorfstraße 2,aussentemp,1,1.0,NaN,0,7908,NaN,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out,aussentemp

In [12]:
NAME_CUST_DICT = {
    "_ival": "",
    ".ival": "",
    "ival": "",
    "_": " ",
}
def preprocess_name_cust(name_cust: str, mappings: dict) -> str:
    """
    Preprocesses a name_cust string by removing the str '(n)' from the name_cust string
    :param name_cust: name_cust string to preprocess
    :param mappings: dictionary of values to replace
    :return: preprocessed name_cust string
    """
    # convert to string
    output = str(name_cust)
    
 
    # replace values from conversion_dict
    for key, value in mappings.items():
        output = output.replace(key, value)
    
    # output should be only letters and spaces
    output = ''.join([i for i in output if i.isalpha() or i == " "])
    
    # convert any double spaces to single spaces
    output = output.replace("  "," ")
    
    # lowercase the string
    output = output.lower()
    
    return output

In [13]:
df['name_cust_text'] = df['name_cust'].apply(preprocess_name_cust, args=(NAME_CUST_DICT,))
df

,building,building_new,address,address_new,node_id,factor,factor_new,unit_getec,unit_getec_2,idn,...,gfstandard,acronym_n,hydraulic_location_index,current_value,acronym_split,measurement,location,description,node_text,name_cust_text
1,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rEnergy,1000,1000.0,MWh,MWh,5144,...,e_hc1_hm,e_hc_hm,1.0,933.1,"[e, hc, hm]",e,hc,hm,zw zz energy,wmz hk
2,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rEnergy,1000,1000.0,MWh,MWh,5142,...,e_hw1_hm,e_hw_hm,1.0,484.77,"[e, hw, hm]",e,hw,hm,zw zz energy,wmz wwb
3,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rPower,1,1.0,NaN,0,5145,...,p_hc1_hm,p_hc_hm,1.0,36.74,"[p, hc, hm]",p,hc,hm,zw zz power,wmz hk leistung
4,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rPower,1,1.0,NaN,0,5139,...,p_hw1_hm,p_hw_hm,1.0,15795,"[p, hw, hm]",p,hw,hm,zw zz power,wmz wwb leistung
5,359,359,Defreggerstraße 8B,Defreggerstraße 8B,CV_HVS1_rVentStellw,1,1.0,NaN,0,5129,...,r_hc1_valve,r_hc_valve,1.0,3478-04-27 00:00:00,"[r, hc, valve]",r,hc,valve,cv hvs vent stellw,hk mischerstellwert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Temperatur43_Temperatur,1,1.0,°C,°C,5436,...,t_gprim_return,t_g_primreturn,NaN,40312,"[t, g, primreturn]",t,g,primreturn,temperatur temperatur,temperatur tempera
478,399,399,"Großbeerenstraße 2-10, Haus 1","Großbeerenstraße 2-10, Haus 1",ZW_ZZ1_rVolume,1,1.0,m³,m³,5963,...,v_g_gm,v_g_gm,NaN,3600-03-31 00:00:00,"[v, g, gm]",v,g,gm,zw zz volume,gaszähler gesamt zählerstand
479,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Primary1_Durchfluss,1,1.0,m3/h,m³/h,5440,...,vdot_g_hm,vdot_g_hm,NaN,16923,"[vdot, g, hm]",vdot,g,hm,primary durchfluss,wmz gesamt durchfluss
480,435,435,Gebäude #435,Bülowstraße 7,aussentemp,1,1.0,NaN,0,7898,...,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out,aussentemp,nan
481,436,436,Gebäude #436,Nollendorfstraße 2,aussentemp,1,1.0,NaN,0,7908,...,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out,aussentemp,nan

In [14]:
GENERAL_MAPPINGS = {
    "wmz": "wärmemengenzähler",
    "wwb": "wasserwerkbereiter",
    "hk": "heizkreis",
    "temp": "temperatur",
    "nan": "nicht bekannt",
}
def replace_to_full_words(text: str, mappings: dict) -> str:
    
    output = str(text)
    
    # lowercase the string just in case
    output = output.lower()
    
    for key, value in mappings.items():
        output = output.replace(key, value)
    
    return output

In [15]:
df['node_text'] = df['node_text'].apply(replace_to_full_words, args=(GENERAL_MAPPINGS,))
df['name_cust_text'] = df['name_cust_text'].apply(replace_to_full_words, args=(GENERAL_MAPPINGS,))
df

,building,building_new,address,address_new,node_id,factor,factor_new,unit_getec,unit_getec_2,idn,...,gfstandard,acronym_n,hydraulic_location_index,current_value,acronym_split,measurement,location,description,node_text,name_cust_text
1,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rEnergy,1000,1000.0,MWh,MWh,5144,...,e_hc1_hm,e_hc_hm,1.0,933.1,"[e, hc, hm]",e,hc,hm,zw zz energy,wärmemengenzähler heizkreis
2,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rEnergy,1000,1000.0,MWh,MWh,5142,...,e_hw1_hm,e_hw_hm,1.0,484.77,"[e, hw, hm]",e,hw,hm,zw zz energy,wärmemengenzähler wasserwerkbereiter
3,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rPower,1,1.0,NaN,0,5145,...,p_hc1_hm,p_hc_hm,1.0,36.74,"[p, hc, hm]",p,hc,hm,zw zz power,wärmemengenzähler heizkreis leistung
4,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rPower,1,1.0,NaN,0,5139,...,p_hw1_hm,p_hw_hm,1.0,15795,"[p, hw, hm]",p,hw,hm,zw zz power,wärmemengenzähler wasserwerkbereiter leistung
5,359,359,Defreggerstraße 8B,Defreggerstraße 8B,CV_HVS1_rVentStellw,1,1.0,NaN,0,5129,...,r_hc1_valve,r_hc_valve,1.0,3478-04-27 00:00:00,"[r, hc, valve]",r,hc,valve,cv hvs vent stellw,heizkreis mischerstellwert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Temperatur43_Temperatur,1,1.0,°C,°C,5436,...,t_gprim_return,t_g_primreturn,NaN,40312,"[t, g, primreturn]",t,g,primreturn,temperatureratur temperatureratur,temperatureratur temperaturera
478,399,399,"Großbeerenstraße 2-10, Haus 1","Großbeerenstraße 2-10, Haus 1",ZW_ZZ1_rVolume,1,1.0,m³,m³,5963,...,v_g_gm,v_g_gm,NaN,3600-03-31 00:00:00,"[v, g, gm]",v,g,gm,zw zz volume,gaszähler gesamt zählerstand
479,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Primary1_Durchfluss,1,1.0,m3/h,m³/h,5440,...,vdot_g_hm,vdot_g_hm,NaN,16923,"[vdot, g, hm]",vdot,g,hm,primary durchfluss,wärmemengenzähler gesamt durchfluss
480,435,435,Gebäude #435,Bülowstraße 7,aussentemp,1,1.0,NaN,0,7898,...,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out,aussentemperatur,nicht bekannt
481,436,436,Gebäude #436,Nollendorfstraße 2,aussentemp,1,1.0,NaN,0,7908,...,t_g_out,t_g_out,NaN,NaN,"[t, g, out]",t,g,out,aussentemperatur,nicht bekannt

In [16]:
# explore units
df["unit_getec"].str.lower().value_counts()

unit_getec
°c      88
mwh     43
kw      13
m³/h    12
m³       8
m3/h     2
l/h      2
kwh      2
m°c      1
m3       1
bh       1
Name: count, dtype: int64

In [17]:
def preprocess_unit(unit: str) -> str:
    """
    :param unit: unit string to preprocess
    :return: preprocessed unit string
    """
    # convert to string
    output = str(unit)    
    # lowercase the string
    output = output.lower()
    
    # replace 0 with nicht bekannt
    output = output.replace("0","nicht bekannt")
    
    # replace nan with nicht bekannt
    output = output.replace("nan","nicht bekannt")
    
    # if mwh, convert to kwh
    output = output.replace("mwh","kwh")
    
    # replace     # replace nan with nicht bekannt
    output = output.replace("nan","nicht bekannt")
    
    output = output.replace("m3","m³")

    return output

In [18]:
df['unit_text'] = df['unit_getec'].apply(preprocess_unit)
df.unit_text.value_counts()

unit_text
nicht bekannt    274
°c                88
kwh               45
m³/h              14
kw                13
m³                 9
l/h                2
m°c                1
bh                 1
Name: count, dtype: int64

In [19]:
def add_texts(node_id: str, name_cust: str, unit: str) -> str:
    """
    Adds the node_id, name_cust and unit strings together
    :param node_id: node_id string
    :param name_cust: name_cust string
    :param unit: unit string
    :return: concatenated string
    """
    output = f"knoten: {node_id}, name: {name_cust}, einheit: {unit}"
    return output

In [20]:
df['text'] = df.apply(lambda x: add_texts(x['node_text'], x['name_cust_text'], x['unit_text']), axis=1)
df

,building,building_new,address,address_new,node_id,factor,factor_new,unit_getec,unit_getec_2,idn,...,hydraulic_location_index,current_value,acronym_split,measurement,location,description,node_text,name_cust_text,unit_text,text
1,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rEnergy,1000,1000.0,MWh,MWh,5144,...,1.0,933.1,"[e, hc, hm]",e,hc,hm,zw zz energy,wärmemengenzähler heizkreis,kwh,"knoten: zw zz energy, name: wärmemengenzähler ..."
2,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rEnergy,1000,1000.0,MWh,MWh,5142,...,1.0,484.77,"[e, hw, hm]",e,hw,hm,zw zz energy,wärmemengenzähler wasserwerkbereiter,kwh,"knoten: zw zz energy, name: wärmemengenzähler ..."
3,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ1_rPower,1,1.0,NaN,0,5145,...,1.0,36.74,"[p, hc, hm]",p,hc,hm,zw zz power,wärmemengenzähler heizkreis leistung,nicht bekannt,"knoten: zw zz power, name: wärmemengenzähler h..."
4,359,359,Defreggerstraße 8B,Defreggerstraße 8B,ZW_ZZ2_rPower,1,1.0,NaN,0,5139,...,1.0,15795,"[p, hw, hm]",p,hw,hm,zw zz power,wärmemengenzähler wasserwerkbereiter leistung,nicht bekannt,"knoten: zw zz power, name: wärmemengenzähler w..."
5,359,359,Defreggerstraße 8B,Defreggerstraße 8B,CV_HVS1_rVentStellw,1,1.0,NaN,0,5129,...,1.0,3478-04-27 00:00:00,"[r, hc, valve]",r,hc,valve,cv hvs vent stellw,heizkreis mischerstellwert,nicht bekannt,"knoten: cv hvs vent stellw, name: heizkreis mi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Temperatur43_Temperatur,1,1.0,°C,°C,5436,...,NaN,40312,"[t, g, primreturn]",t,g,primreturn,temperatureratur temperatureratur,temperatureratur temperaturera,°c,"knoten: temperatureratur temperatureratur, na..."
478,399,399,"Großbeerenstraße 2-10, Haus 1","Großbeerenstraße 2-10, Haus 1",ZW_ZZ1_rVolume,1,1.0,m³,m³,5963,...,NaN,3600-03-31 00:00:00,"[v, g, gm]",v,g,gm,zw zz volume,gaszähler gesamt zählerstand,m³,"knoten: zw zz volume, name: gaszähler gesamt z..."
479,366,399,"Großbeerenstraße 2-10, Haus 3","Großbeerenstraße 2-10, Haus 3",Primary1_Durchfluss,1,1.0,m3/h,m³/h,5440,...,NaN,16923,"[vdot, g, hm]",vdot,g,hm,primary durchfluss,wärmemengenzähler gesamt durchfluss,m³/h,"knoten: primary durchfluss, name: wärmemengenz..."
480,435,435,Gebäude #435,Bülowstraße 7,aussentemp,1,1.0,NaN,0,7898,...,NaN,NaN,"[t, g, out]",t,g,out,aussentemperatur,nicht bekannt,nicht bekannt,"knoten: aussentemperatur, name: nicht bekannt,..."
481,436,436,Gebäude #436,Nollendorfstraße 2,aussentemp,1,1.0,NaN,0,7908,...,NaN,NaN,"[t, g, out]",t,g,out,aussentemperatur,nicht bekannt,nicht bekannt,"knoten: aussentemperatur, name: nicht bekannt,..."

In [21]:
df['text'].value_counts()

text
knoten: ai hvs vl temperatur, name: heizkreis vorlauftemperatureratur, einheit: °c                                            13
knoten: zw zz power, name: wärmemengenzähler wasserwerkbereiter leistung, einheit: nicht bekannt                              11
knoten: ai hvs vl temperatur, name: vorlauftemperatureratur heizkreis, einheit: nicht bekannt                                 10
knoten: zw zz energy, name: wärmemengenzähler wasserwerkbereiter energie, einheit: kwh                                        10
knoten: zw zz r temperatur, name: wärmemengenzähler heizung rücklauftemperatur, einheit: nicht bekannt                        10
                                                                                                                              ..
knoten: primary vorlauftemperatureratur, name: wärmemengenzähler nollendorfstr gesamt vorlauftemperatureratur, einheit: °c     1
knoten: primary energie, name: wärmemengenzähler nollendorfstr gesamt energie, einheit: kwh                                    1
knoten: primary durchfluss, name: wärmemengenzähler nollendorfstr gesamt durchfluss, einheit: l/h                              1
knoten: zw zz r temperatur, name: rltemperatur wärmemengenzähler gesamt, einheit: nicht bekannt                                1
knoten: primary durchfluss, name: wärmemengenzähler gesamt durchfluss, einheit: m³/h                                           1
Name: count, Length: 141, dtype: int64

In [22]:
df.columns

Index(['building', 'building_new', 'address', 'address_new', 'node_id',
       'factor', 'factor_new', 'unit_getec', 'unit_getec_2', 'idn',
       'name_cust', 'gfstandard', 'acronym_n', 'hydraulic_location_index',
       'current_value', 'acronym_split', 'measurement', 'location',
       'description', 'node_text', 'name_cust_text', 'unit_text', 'text'],
      dtype='object')

In [23]:
data = df[['text', 'measurement', 'location', 'description']].dropna()

# convert measurement, location and description to categorical
data['measurement'] = data['measurement'].astype('category')
data['location'] = data['location'].astype('category')
data['description'] = data['description'].astype('category')

data

,text,measurement,location,description
1,"knoten: zw zz energy, name: wärmemengenzähler ...",e,hc,hm
2,"knoten: zw zz energy, name: wärmemengenzähler ...",e,hw,hm
3,"knoten: zw zz power, name: wärmemengenzähler h...",p,hc,hm
4,"knoten: zw zz power, name: wärmemengenzähler w...",p,hw,hm
5,"knoten: cv hvs vent stellw, name: heizkreis mi...",r,hc,valve
...,...,...,...,...
477,"knoten: temperatureratur temperatureratur, na...",t,g,primreturn
478,"knoten: zw zz volume, name: gaszähler gesamt z...",v,g,gm
479,"knoten: primary durchfluss, name: wärmemengenz...",vdot,g,hm
480,"knoten: aussentemperatur, name: nicht bekannt,...",t,g,out
481,"knoten: aussentemperatur, name: nicht bekannt,...",t,g,out

In [24]:
data.to_csv('data/sensors_cleaned.csv', index=False)
data.to_pickle("data/sensors_cleaned.pkl")

In [25]:
print("Data saved successfully")

Data saved successfully